{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Food Court</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/f1c31f30b1.js" crossorigin="anonymous"></script>
    <link rel="icon" href="https://img.freepik.com/premium-vector/restaurant-logo-design-template_79169-56.jpg?w=740">
</head>
  <body>

    <div class="container">
      <a href="{% url 'home' %}">
        <div class="go-home d-flex justify-content-center align-items-center">
          <lottie-player src="https://assets10.lottiefiles.com/private_files/lf30_bxgjo2wa.json"  background="transparent"  speed="1"  style="width: 80px; height: 80px;"  loop autoplay></lottie-player>
        </div>
      </a>
        <div class="row">
            <div class="d-flex justify-content-center align-items-center col-xlg-6 col-lg-6 col-md-6 col-sm-12 col-12">
              <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_mfitthpe.json"  background="transparent"  speed="0.5"  style="width: 80%; height: 80%;"  loop autoplay></lottie-player>
            </div>
            <div class="d-flex justify-content-center  flex-column col-xlg-6 col-lg-6 col-md-6 col-sm-12 col-12">
              <h2>Break Fast</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa labore maiores animi iusto nulla! Laborum a earum, consequuntur quas adipisci, explicabo expedita totam dolorum odio et impedit ad alias eum! Id, earum? Odit sunt esse rem, illo temporibus saepe fuga.</p>
              <div class="d-flex justify-content-center align-items-center">
                <button class="button">Check Shop</button>
                <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_80nu1g6c.json"  background="transparent"  speed="0.4"  style="width: 70px; height: 70px;"  loop autoplay></lottie-player>
              </div>
            </div>
        </div>


        <div class="row mb-5">
          {% for food in foods %}
          <div class="column mt-3 p-1 col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="food">
              <img src="{{food.image}}" alt="">
              <a href="{% url 'orderpage' food.id %}"><button class="buy-btn">Buy Now</button></a>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>





      <!-- Optional JavaScript -->
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>