{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Food Court</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/f1c31f30b1.js" crossorigin="anonymous"></script>
    <!-- <link rel="icon" href="/img/favicon.png"> -->
</head>
  <body>

    <div class="container">
      <a href="{% url 'home' %}">
        <div class="go-home d-flex justify-content-center align-items-center">
          <lottie-player src="https://assets10.lottiefiles.com/private_files/lf30_bxgjo2wa.json"  background="transparent"  speed="1"  style="width: 80px; height: 80px;"  loop autoplay></lottie-player>
        </div>
      </a>
        <div class="row">
            <div class="d-flex justify-content-center align-items-center col-xlg-6 col-lg-6 col-md-6 col-sm-12 col-12">
              <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_mfitthpe.json"  background="transparent"  speed="0.5"  style="width: 80%; height: 80%;"  loop autoplay></lottie-player>
            </div>
            <div class="d-flex justify-content-center  flex-column col-xlg-6 col-lg-6 col-md-6 col-sm-12 col-12">
              <h2>Break Fast</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa labore maiores animi iusto nulla! Laborum a earum, consequuntur quas adipisci, explicabo expedita totam dolorum odio et impedit ad alias eum! Id, earum? Odit sunt esse rem, illo temporibus saepe fuga.</p>
              <div class="d-flex justify-content-center align-items-center">
                <button class="button">Check Shop</button>
                <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_80nu1g6c.json"  background="transparent"  speed="0.4"  style="width: 70px; height: 70px;"  loop autoplay></lottie-player>
              </div>
            </div>
        </div>


        <div class="row mb-5">
          <div class="column mt-3 p-1 col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="food">
              <img src="https://img.freepik.com/free-photo/aloo-paratha-gobi-paratha-also-known-as-potato-cauliflower-stuffed-flatbread-dish-originating-from-indian-subcontinent_466689-76134.jpg?w=996&t=st=1661263048~exp=1661263648~hmac=5bac9045e03fbdf53f31cc3dbb87cb30f487cf2e5438eba413a9ea1f62e7daa7" alt="">
              <button class="buy-btn">Buy Now</button>
            </div>
          </div>
          <div class="column mt-3 p-1 col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="food">
              <img src="https://img.freepik.com/free-photo/vada-pav-wada-pao-is-indian-desi-burger-is-roadside-fast-food-dish-from-maharashtra-selective-focus_466689-74007.jpg?w=996&t=st=1661264897~exp=1661265497~hmac=2f92366ea4ccbb5ca8754d7f715e8e4dc9b189cc34193ee6a465a32f74f7c273" alt="">
              <button class="buy-btn">Buy Now</button>
            </div>
          </div>
          <div class="column mt-3 p-1 col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="food">
              <img src="https://img.freepik.com/free-photo/delicious-breakfast-meal-composition_23-2148878834.jpg?w=996&t=st=1661264899~exp=1661265499~hmac=301085a5eafde25e720d95a2797c0112d243db8d021aad571a0ecc994eff4f47" alt="">
              <button class="buy-btn">Buy Now</button>
            </div>
          </div>
          <div class="column mt-3 p-1 col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="food">
              <img src="https://img.freepik.com/free-photo/aloo-paratha-gobi-paratha-also-known-as-potato-cauliflower-stuffed-flatbread-dish-originating-from-indian-subcontinent_466689-76159.jpg?w=996&t=st=1661264901~exp=1661265501~hmac=30483d4f04e269a32c1d5d85c5061b0ab74d865222d29f97ecf9abbe0a5e620b" alt="">
              <button class="buy-btn">Buy Now</button>
            </div>
          </div>
          <div class="column mt-3 p-1 col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="food">
              <img src="https://img.freepik.com/free-photo/gujarati-khaman-dhokla-made-using-chana-dal-served-with-green-chutney-selective-focus_466689-71727.jpg?w=996&t=st=1661264906~exp=1661265506~hmac=dbcb51a54cfa3e0dbdd3b2702fb0e01896bb353698302ea1c804b499e8e63528" alt="">
              <button class="buy-btn">Buy Now</button>
            </div>
          </div>
          <div class="column mt-3 p-1 col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="food">
              <img src="https://img.freepik.com/free-photo/aloo-paratha-gobi-paratha-also-known-as-potato-cauliflower-stuffed-flatbread-dish-originating-from-indian-subcontinent_466689-76134.jpg?w=996&t=st=1661263048~exp=1661263648~hmac=5bac9045e03fbdf53f31cc3dbb87cb30f487cf2e5438eba413a9ea1f62e7daa7" alt="">
              <button class="buy-btn">Buy Now</button>
            </div>
          </div>
          <div class="column mt-3 p-1 col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="food">
              <img src="https://img.freepik.com/free-photo/aloo-paratha-gobi-paratha-also-known-as-potato-cauliflower-stuffed-flatbread-dish-originating-from-indian-subcontinent_466689-76134.jpg?w=996&t=st=1661263048~exp=1661263648~hmac=5bac9045e03fbdf53f31cc3dbb87cb30f487cf2e5438eba413a9ea1f62e7daa7" alt="">
              <button class="buy-btn">Buy Now</button>
            </div>
          </div>
          <div class="column mt-3 p-1 col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="food">
              <img src="https://img.freepik.com/free-photo/high-angle-indian-food-arrangement_23-2148734737.jpg?w=996&t=st=1661263048~exp=1661263648~hmac=1c3993adb657560f8e91adf9cb4c68a9625ab34099f14a20d280c39859735644" alt="">
              <button class="buy-btn">Buy Now</button>
            </div>
          </div>
          <div class="column mt-3 p-1 col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="food">
              <img src="https://img.freepik.com/premium-photo/indian-food-kadai-paneer-thali_55610-1982.jpg?w=996" alt="">
              <button class="buy-btn">Buy Now</button>
            </div>
          </div>
          <div class="column mt-3 p-1 col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="food">
              <img src="https://img.freepik.com/free-photo/top-view-bowls-with-indian-food_23-2148723454.jpg?w=996&t=st=1661263059~exp=1661263659~hmac=c595314bc6d578400104a68c1bf1fd801fcc15f0342f845fe03c50d2ae2dd05e" alt="">
              <button class="buy-btn">Buy Now</button>
            </div>
          </div>
          <div class="column mt-3 p-1 col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="food">
              <img src="https://img.freepik.com/free-photo/aloo-paratha-gobi-paratha-also-known-as-potato-cauliflower-stuffed-flatbread-dish-originating-from-indian-subcontinent_466689-76173.jpg?w=996&t=st=1661263050~exp=1661263650~hmac=96a4c5921dc257fdea3426c1677c169385cbcca7be2f643773e8f43674c3603e" alt="">
              <button class="buy-btn">Buy Now</button>
            </div>
          </div>
          <div class="column mt-3 p-1 col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="food">
              <img src="https://img.freepik.com/premium-photo/masala-dosa-is-south-indian-meal-served-with-sambhar-coconut-chutney-selective-focus_466689-22907.jpg?w=996" alt="">
              <button class="buy-btn">Buy Now</button>
            </div>
          </div>
          <div class="column mt-3 p-1 col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="food">
              <img src="https://img.freepik.com/free-photo/delicious-breakfast-meal-assortment_23-2148878829.jpg?w=996&t=st=1661264914~exp=1661265514~hmac=4c1500fa8254e3f2ad19f279ab00d6e3c6d791ccec6212de797d18607b10857d" alt="">
              <button class="buy-btn">Buy Now</button>
            </div>
          </div>
          <div class="column mt-3 p-1 col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="food">
              <img src="https://img.freepik.com/free-photo/breakfast-valentine-s-day-fried-eggs-bread-shape-heart-fresh-vegetables_114579-85492.jpg?w=996&t=st=1661264915~exp=1661265515~hmac=aa5141606d6471578db74bcff2600acdc464cd6aaad5d3d22f4c79e14472b5e7" alt="">
              <button class="buy-btn">Buy Now</button>
            </div>
          </div>
          <div class="column mt-3 p-1 col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="food">
              <img src="https://img.freepik.com/free-photo/fried-egg-laying-toast-topped-with-pepper-seeds-with-carrots-spring-onions_1150-20990.jpg?w=996&t=st=1661264918~exp=1661265518~hmac=12c9844e1c6e0dc8a2e6bb839ac8e4808a61b4e4a33c66d0ffe2f65a04b43a4b" alt="">
              <button class="buy-btn">Buy Now</button>
            </div>
          </div>
          <div class="column mt-3 p-1 col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="food">
              <img src="https://img.freepik.com/free-photo/aloo-paratha-gobi-paratha-also-known-as-potato-cauliflower-stuffed-flatbread-dish-originating-from-indian-subcontinent_466689-76173.jpg?w=996&t=st=1661264896~exp=1661265496~hmac=96db8d9626c5136b0b1eaf1262bf61bbb1da4de51a9413cc1ded61ac0526d0d1" alt="">
              <button class="buy-btn">Buy Now</button>
            </div>
          </div>
        </div>
    </div>





      <!-- Optional JavaScript -->
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>