{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Food Court</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/f1c31f30b1.js" crossorigin="anonymous"></script>
    <link rel="icon" href="https://img.freepik.com/premium-vector/restaurant-logo-design-template_79169-56.jpg?w=740">
</head>
  <body>
               
    <a href="{% url 'logout' %}"><i class="logout fa-solid fa-power-off"></i></a>
    
    <div class="d-flex justify-content-center align-items-center flex-column">
      <h4 class="mb-5">Welcome {{request.user}}</h4>
      <div class="d-flex justify-content-center align-items-center">
      
        <a href="{% url 'breakfast' %}">
            <button class="button rounded mr-3" onclick="show('Break Fast')"><i class="fa-solid fa-utensils"></i>
              Break Fast
            </button>
        </a>
        <a href="{% url 'lunch' %}"> 
            <button class="button rounded mr-3" onclick="show('Lunch')"><i class="fa-solid fa-utensils"></i>
              Lunch
            </button>
        </a>
        <a href="{% url 'dinner' %}">
            <button class="button rounded" onclick="show('Dinner')"><i class="fa-solid fa-utensils"></i>
              Dinner
          </button>
        </a>
      </div>
    </div>
    
    {% if user.is_superuser %}
    <div class="mt-5">
      <p class="mt-5 fs-4">You are Admin</p>
      <a href="{% url 'adminpage' %}"><button class="button">See All Orders</button></a>
    </div>
    {% else %}
    <div class="mt-5">
      <a href="{% url 'singleorder' %}"><button class="button">See Orders</button></a>
    </div>
    {% endif %}
      




    <script src="{% static 'js/script.js' %}"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>