{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Food Court</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/f1c31f30b1.js" crossorigin="anonymous"></script>
    <link rel="icon" href="https://img.freepik.com/premium-vector/restaurant-logo-design-template_79169-56.jpg?w=740">
</head>
  <body class="d-flex justify-content-center align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-2 d-flex justify-content-center align-items-center">
                <h1>{{food.category}}</h1>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center">
                <img src="{{food.image}}" alt="">
            </div>
            <div class="col-2 d-flex flex-column justify-content-center align-items-center">
                <input type="number" class="input">
                <p class="price mt-4 ">&#8377; 140</p>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center">
                <h1 class="total"><button onclick="change()" class="check btn btn-success">Check Price</button></h1>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center">
                <a href="{% url 'order' food.id %}"><button class="button">Place Order</button></a>
            </div>
        </div>
    </div>



    <script>
        function change(){
            let input = document.querySelector('.input').value
            console.log(input)
            let price = document.querySelector('.price')
            let amount = input * 140
            price.innerHTML = '&#8377; ' + amount
        }
    </script>

    
      <!-- Optional JavaScript -->
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>