{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Food Court</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/f1c31f30b1.js" crossorigin="anonymous"></script>
    <!-- <link rel="icon" href="/img/favicon.png"> -->
</head>
  <body>

    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center align-items-center col-xlg-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_cXVf2b.json"  background="transparent"  speed="0.5"  style="width: 80%; height: 80%;"  loop autoplay></lottie-player>
            </div>
            <div class="d-flex justify-content-center  flex-column col-xlg-6 col-lg-6 col-md-6 col-sm-12 col-12">
              <h2>Dinner</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa labore maiores animi iusto nulla! Laborum a earum, consequuntur quas adipisci, explicabo expedita totam dolorum odio et impedit ad alias eum! Id, earum? Odit sunt esse rem, illo temporibus saepe fuga.</p>
              <div class="d-flex justify-content-center align-items-center">
                <button class="button">Check Shop</button>
                <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_80nu1g6c.json"  background="transparent"  speed="0.4"  style="width: 70px; height: 70px;"  loop autoplay></lottie-player>
              </div>
            </div>
        </div>


        <div class="row mb-5">
          <div class="column mt-3 p-1 col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="food">
              <img src="https://img.freepik.com/premium-photo/indian-food-thali_57665-1351.jpg?w=996" alt="">
              <button class="buy-btn">Buy Now</button>
            </div>
          </div>
          <div class="column mt-3 p-1 col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="food">
              <img src="https://img.freepik.com/free-photo/high-angle-shot-delicious-pizza-with-colorful-bell-peppers-corn-meat-mushrooms_181624-59679.jpg?w=996&t=st=1661265955~exp=1661266555~hmac=c1779e89814ec9b0afce7f054322e9f1cc5621760e2b8bd4c8edb47ae0746d90" alt="">
              <button class="buy-btn">Buy Now</button>
            </div>
          </div>
          <div class="column mt-3 p-1 col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="food">
              <img src="https://img.freepik.com/free-photo/banquet-table-with-snacks_144627-18361.jpg?w=996&t=st=1661265959~exp=1661266559~hmac=8d31a16b3d2830fa4272c4139ee1bddd0e26f8098a16ea071ffdde7c90f67127" alt="">
              <button class="buy-btn">Buy Now</button>
            </div>
          </div>
          <div class="column mt-3 p-1 col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="food">
              <img src="https://img.freepik.com/premium-photo/typical-indian-food-mix-veg-paneer-kadai-dal-rayata-laccha-paratha-from-sheoganj-thali-rajasthani_57665-8350.jpg?w=996" alt="">
              <button class="buy-btn">Buy Now</button>
            </div>
          </div>
          <div class="column mt-3 p-1 col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="food">
              <img src="https://img.freepik.com/free-photo/luxury-dinner-table-hotel_1150-11071.jpg?w=996&t=st=1661265965~exp=1661266565~hmac=395d57c8f508ac2fd62a4b8c24165b4954ac883bae78c2d39677c4c4d1aae005" alt="">
              <button class="buy-btn">Buy Now</button>
            </div>
          </div>
          <div class="column mt-3 p-1 col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="food">
              <img src="https://img.freepik.com/premium-photo/two-glasses-wine-table-background-wedding-bouquet-evening-end-event_72389-1385.jpg?w=996" alt="">
              <button class="buy-btn">Buy Now</button>
            </div>
          </div>
          <div class="column mt-3 p-1 col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="food">
              <img src="https://img.freepik.com/free-photo/roasted-pumpkin-carrot-soup-with-cream-black-pepper-pumpkin-seeds-cutting-board-fresh-pumpkin-slices-black-bread_114579-1669.jpg?w=996&t=st=1661265969~exp=1661266569~hmac=4d0e81b6e93323dc4d9a8c87669ab881bd885ea12f7af7431f5d9d15e5f31bf6" alt="">
              <button class="buy-btn">Buy Now</button>
            </div>
          </div>
          <div class="column mt-3 p-1 col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="food">
              <img src="https://img.freepik.com/free-photo/dabeli-kutchi-dabeli-double-roti-is-popular-snack-food-india-originating-kutch-kachchh-region-gujarat_466689-73958.jpg?w=996&t=st=1661265975~exp=1661266575~hmac=662fa0b942c449c6d34a2ade56c803170d7277f04560bf95f157d398af73fd91" alt="">
              <button class="buy-btn">Buy Now</button>
            </div>
          </div>
          <div class="column mt-3 p-1 col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="food">
              <img src="https://img.freepik.com/free-photo/schezwan-szechwan-hakka-noodles-with-paneer-cottage-cheese-served-bowl-selective-focus_466689-74478.jpg?w=996&t=st=1661265980~exp=1661266580~hmac=50eb72ed8ea54cc6066778e5060972c7efb44de01ad420ff2b3e0b3e036301fc" alt="">
              <button class="buy-btn">Buy Now</button>
            </div>
          </div>
          <div class="column mt-3 p-1 col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="food">
              <img src="https://img.freepik.com/free-photo/indian-food-circular-frame-with-copy-space_23-2148747658.jpg?w=996&t=st=1661265994~exp=1661266594~hmac=eeb6b13eb3ec9961d5ef99da51cb2448c53bd6e3e2fef7220521cae3ca5a87e3" alt="">
              <button class="buy-btn">Buy Now</button>
            </div>
          </div>

          <div class="column mt-3 p-1 col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="food">
              <img src="https://img.freepik.com/free-photo/clay-plate-full-appetizers-served-with-goldy-chicken-nuggets-cooked-with-chrispy-crust-delicious-canapes-with-herring-cherry-tomatoes-garlic-sauce-decorated-with-fresh-salad-cheese_132075-13067.jpg?w=996&t=st=1661266001~exp=1661266601~hmac=71426b4100a8b48222381b9c8a1889e27025b073d67a930d3653cc66211d7c81" alt="">
              <button class="buy-btn">Buy Now</button>
            </div>
          </div>
          <div class="column mt-3 p-1 col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="food">
              <img src="https://img.freepik.com/free-photo/plate-delicious-pasta-with-beef-green-pepper_1205-11837.jpg?w=996&t=st=1661266006~exp=1661266606~hmac=9d8a5dc1a7a12d5b17fc86f26dd8e1cbd90790d3e5d9dc43566032e3fe23e590" alt="">
              <button class="buy-btn">Buy Now</button>
            </div>
          </div>
          <div class="column mt-3 p-1 col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="food">
              <img src="https://img.freepik.com/premium-photo/dum-handi-chicken-biryani-is-prepared-earthen-clay-pot-called-haandi-popular-indian-non-vegetarian-food_466689-52332.jpg?w=996" alt="">
              <button class="buy-btn">Buy Now</button>
            </div>
          </div>
          <div class="column mt-3 p-1 col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="food">
              <img src="https://img.freepik.com/free-photo/overhead-view-delicious-cutlets-served-with-lemon-green-wooden-cutting-board-yellow-stripped-towel-black-background_140725-160506.jpg?w=996&t=st=1661266012~exp=1661266612~hmac=60643e1c7fb7ffc515c0be53ff0819b91cf45d48b1b4b33389ea80d716f2c353" alt="">
              <button class="buy-btn">Buy Now</button>
            </div>
          </div>
          <div class="column mt-3 p-1 col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="food">
              <img src="https://img.freepik.com/free-photo/penne-pasta-tomato-sauce-with-chicken-tomatoes-wooden-table_2829-19739.jpg?w=996&t=st=1661266014~exp=1661266614~hmac=091520d3ce8133edfff990d7f5c23cf2aa207ec4bcea44120ff19f47525ffee4" alt="">
              <button class="buy-btn">Buy Now</button>
            </div>
          </div>
          <div class="column mt-3 p-1 col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="food">
              <img src="https://img.freepik.com/free-photo/curry-with-chicken-onions-indian-food-asian-cuisine-top-view_2829-6243.jpg?w=996&t=st=1661265510~exp=1661266110~hmac=2a9a434a06535592284c3e3a765194fc6b6e12ea02f491bbfbbfe171b01c77dc" alt="">
              <button class="buy-btn">Buy Now</button>
            </div>
          </div>
          <div class="column mt-3 p-1 col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="food">
              <img src="https://img.freepik.com/free-photo/top-view-food-frame-with-copy-space_23-2148723447.jpg?w=996&t=st=1661266013~exp=1661266613~hmac=fc1f8d4bc4fcec9b52f3aa9d6b9a94a796b3090927904a774bf96a03ae7cb862" alt="">
              <button class="buy-btn">Buy Now</button>
            </div>
          </div>
        </div>
    </div>





      <!-- Optional JavaScript -->
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
